DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=messanger_db

# Cookie / CSRF settings
# production (за HTTPS): COOKIE_SECURE=true, COOKIE_SAMESITE=lax (или strict)
# local dev (http): COOKIE_SECURE=false, COOKIE_SAMESITE=lax
COOKIE_SECURE=false
COOKIE_SAMESITE=lax